In [9]:
from sqlalchemy import create_engine, MetaData, Table, Column, Integer, String, Date, Float, text
import pandas as pd

files = [
    ("/Users/Vengeance/Documents/GitHub/earthquake-analysis-japan/JAPAN_DATASET_cleaned.csv", "Dataset"),
    ("/Users/Vengeance/Documents/GitHub/earthquake-analysis-japan/JAPAN_EMSC_cleaned.csv", "EMSC"),
    ("/Users/Vengeance/Documents/GitHub/earthquake-analysis-japan/JAPAN_GEOFON_cleaned.csv", "GEOFON"),
    ("/Users/Vengeance/Documents/GitHub/earthquake-analysis-japan/JAPAN_USGS_cleaned.csv", "USGS")
]

dfs = []

for file_path, source_name in files:
    df = pd.read_csv(file_path)

    if 'place' in df.columns and 'region' in df.columns:
        print(f"Both 'place' and 'region' found in {source_name}, keeping 'region' only.")
        df = df.drop(columns=['place'])

    if 'latitude' in df.columns and 'longitude' in df.columns:
        df['coordination'] = df.apply(lambda x: f"[{x.latitude}, {x.longitude}]", axis=1)

    rename_map = {}
    if 'mag' in df.columns:
        rename_map['mag'] = 'magnitude'
    if 'place' in df.columns and 'region' not in df.columns:
        rename_map['place'] = 'region'

    df = df.rename(columns=rename_map)

    if 'source' in df.columns:
        df = df.drop(columns=['source'])

    df['source'] = source_name

    columns_needed = ['time', 'coordination', 'depth', 'magnitude', 'region', 'source']
    df = df[[c for c in columns_needed if c in df.columns]]

    if 'time' in df.columns:
        df['time'] = pd.to_datetime(df['time'], errors='coerce').dt.date
    if 'depth' in df.columns:
        df['depth'] = pd.to_numeric(df['depth'], errors='coerce')
    if 'magnitude' in df.columns:
        df['magnitude'] = pd.to_numeric(df['magnitude'], errors='coerce')

    dfs.append(df)

df_all = pd.concat(dfs, ignore_index=True)

engine = create_engine('sqlite:///mydb.db')
connection = engine.connect()
metadata = MetaData()

earthquakes = Table(
    'Earthquakes',
    metadata,
    Column('id', Integer, primary_key=True),
    Column('time', Date),
    Column('coordination', String),
    Column('depth', Float),
    Column('magnitude', Float),
    Column('region', String),
    Column('source', String)
)

connection.execute(text("DROP TABLE IF EXISTS Earthquakes;"))
metadata.create_all(engine)

df_all.to_sql(
    name='Earthquakes',
    con=engine,
    if_exists='append',
    index=False,
    chunksize=1000
)

count = connection.execute(text("SELECT COUNT(*) FROM Earthquakes;")).scalar()
print(f"Number of rows inserted: {count}")

result = connection.execute(
    text("SELECT id, time, coordination, depth, magnitude, region, source FROM Earthquakes LIMIT 5;")
).fetchall()

for row in result:
    print(row)

Both 'place' and 'region' found in Dataset, keeping 'region' only.
Both 'place' and 'region' found in EMSC, keeping 'region' only.
Both 'place' and 'region' found in GEOFON, keeping 'region' only.
Both 'place' and 'region' found in USGS, keeping 'region' only.
Number of rows inserted: 217
(1, '2025-09-15', '[38.322, 142.369]', 35.0, 5.1, 'Honshu', 'Dataset')
(2, '2025-09-16', '[36.2048, 138.2529]', 0.0, 4.866666666666666, 'Nagano', 'Dataset')
(3, '2025-09-18', '[33.5904, 130.4017]', 12.0, 4.866666666666666, 'Fukuoka', 'Dataset')
(4, '2025-09-19', '[35.6895, 139.6917]', 0.0, 5.5, 'Tokyo', 'Dataset')
(5, '2025-09-20', '[37.765, 140.467]', 0.0, 4.6, 'Fukushima', 'Dataset')

In [8]:
connection.execute(text("DROP TABLE IF EXISTS Earthquakes;"))

In [4]:
df.head()

         time         coordination   depth  magnitude       region source
0  2025-10-10   [41.7258, 142.679]  58.696        4.3      Urakawa   USGS
1  2025-10-07  [29.2431, 129.3903]  10.000        5.3      Tatsugō   USGS
2  2025-10-07  [37.6701, 144.1112]  10.000        4.6  Onagawa Chō   USGS
3  2025-10-07  [37.8333, 144.1149]  10.000        4.7  Onagawa Chō   USGS
4  2025-10-07  [37.5675, 141.3033]  49.324        5.1        Namie   USGS

In [5]:
df.tail()

,time,coordination,depth,magnitude,region,source
34,2025-09-15,"[37.6698, 138.8388]",185.842,4.3,Yoshida-kasugachō,USGS
35,2025-09-15,"[38.5338, 141.9747]",62.107,4.4,Onagawa Chō,USGS
36,2025-09-13,"[42.0242, 137.5574]",286.491,4.1,Kaminokuni,USGS
37,2025-09-13,"[34.1815, 137.2194]",333.697,4.1,Shima,USGS
38,2025-09-13,"[32.867, 141.7432]",10.000,4.9,Katsuura,USGS

In [15]:
from sqlalchemy import create_engine, MetaData, Table, Column, Integer, String, Date, Float, text
import pandas as pd

# 📂 مسیر فایل‌ها و نام منبع‌ها
files = [
    ("/Users/Vengeance/Documents/GitHub/earthquake-analysis-japan/JAPAN_DATASET_cleaned.csv", "Dataset"),
    ("/Users/Vengeance/Documents/GitHub/earthquake-analysis-japan/JAPAN_EMSC_cleaned.csv", "EMSC"),
    ("/Users/Vengeance/Documents/GitHub/earthquake-analysis-japan/JAPAN_GEOFON_cleaned.csv", "GEOFON"),
    ("/Users/Vengeance/Documents/GitHub/earthquake-analysis-japan/JAPAN_USGS_cleaned.csv", "USGS")
]

dfs = []

# 🧩 خواندن و آماده‌سازی هر فایل
for file_path, source_name in files:
    df = pd.read_csv(file_path)

    # اگه place و region با هم بودن، یکی رو حذف کن
    if 'place' in df.columns and 'region' in df.columns:
        df = df.drop(columns=['place'])

    # ساخت ستون مختصات
    if 'latitude' in df.columns and 'longitude' in df.columns:
        df['coordination'] = df.apply(lambda x: f"[{x.latitude}, {x.longitude}]", axis=1)

    # تغییر نام ستون‌ها
    rename_map = {}
    if 'mag' in df.columns:
        rename_map['mag'] = 'magnitude'
    if 'place' in df.columns and 'region' not in df.columns:
        rename_map['place'] = 'region'
    df = df.rename(columns=rename_map)

    # افزودن منبع داده درست برای هر فایل
    df['source'] = source_name

    # فقط ستون‌های مورد نیاز
    columns_needed = ['time', 'coordination', 'depth', 'magnitude', 'region', 'source']
    df = df[[c for c in columns_needed if c in df.columns]]

    # تبدیل نوع داده‌ها
    if 'time' in df.columns:
        df['time'] = pd.to_datetime(df['time'], errors='coerce').dt.date
    if 'depth' in df.columns:
        df['depth'] = pd.to_numeric(df['depth'], errors='coerce')
    if 'magnitude' in df.columns:
        df['magnitude'] = pd.to_numeric(df['magnitude'], errors='coerce')

    dfs.append(df)

# 🔗 ادغام همه‌ی فایل‌ها
df_all = pd.concat(dfs, ignore_index=True)

# 🧹 حذف ردیف‌های ناقص یا تکراری
df_all = df_all.dropna(subset=['time', 'magnitude', 'region'])
df_all = df_all.drop_duplicates()

# 🧱 اتصال به دیتابیس و ساخت جدول
engine = create_engine('sqlite:///mydb.db')
connection = engine.connect()
metadata = MetaData()

earthquakes = Table(
    'Earthquakes',
    metadata,
    Column('id', Integer, primary_key=True),
    Column('time', Date),
    Column('coordination', String),
    Column('depth', Float),
    Column('magnitude', Float),
    Column('region', String),
    Column('source', String)
)

# حذف جدول قبلی و ساخت مجدد
connection.execute(text("DROP TABLE IF EXISTS Earthquakes;"))
metadata.create_all(engine)

# 💾 ذخیره داده‌ها در جدول
df_all.to_sql(
    name='Earthquakes',
    con=engine,
    if_exists='append',
    index=False,
    chunksize=1000
)

# 📊 تعداد رکوردها
count = connection.execute(text("SELECT COUNT(*) FROM Earthquakes;")).scalar()
print(f"✅ Number of rows inserted: {count}")

# 🧾 نمایش چند ردیف اول
result = connection.execute(
    text("SELECT id, time, coordination, depth, magnitude, region, source FROM Earthquakes LIMIT 5;")
).fetchall()

for row in result:
    print(row)

✅ Number of rows inserted: 213
(1, '2025-09-15', '[38.322, 142.369]', 35.0, 5.1, 'Honshu', 'Dataset')
(2, '2025-09-16', '[36.2048, 138.2529]', 0.0, 4.866666666666666, 'Nagano', 'Dataset')
(3, '2025-09-18', '[33.5904, 130.4017]', 12.0, 4.866666666666666, 'Fukuoka', 'Dataset')
(4, '2025-09-19', '[35.6895, 139.6917]', 0.0, 5.5, 'Tokyo', 'Dataset')
(5, '2025-09-20', '[37.765, 140.467]', 0.0, 4.6, 'Fukushima', 'Dataset')

In [23]:
df_all.head(213)

,time,coordination,depth,magnitude,region,source
0,2025-09-15,"[38.322, 142.369]",35.000,5.100000,Honshu,Dataset
1,2025-09-16,"[36.2048, 138.2529]",0.000,4.866667,Nagano,Dataset
2,2025-09-18,"[33.5904, 130.4017]",12.000,4.866667,Fukuoka,Dataset
3,2025-09-19,"[35.6895, 139.6917]",0.000,5.500000,Tokyo,Dataset
4,2025-09-20,"[37.765, 140.467]",0.000,4.600000,Fukushima,Dataset
...,...,...,...,...,...,...
212,2025-09-15,"[37.6698, 138.8388]",185.842,4.300000,Yoshida-kasugachō,USGS
213,2025-09-15,"[38.5338, 141.9747]",62.107,4.400000,Onagawa Chō,USGS
214,2025-09-13,"[42.0242, 137.5574]",286.491,4.100000,Kaminokuni,USGS
215,2025-09-13,"[34.1815, 137.2194]",333.697,4.100000,Shima,USGS
216,2025-09-13,"[32.867, 141.7432]",10.000,4.900000,Katsuura,USGS

In [18]:
df.tail()

,time,coordination,depth,magnitude,region,source
34,2025-09-15,"[37.6698, 138.8388]",185.842,4.3,Yoshida-kasugachō,USGS
35,2025-09-15,"[38.5338, 141.9747]",62.107,4.4,Onagawa Chō,USGS
36,2025-09-13,"[42.0242, 137.5574]",286.491,4.1,Kaminokuni,USGS
37,2025-09-13,"[34.1815, 137.2194]",333.697,4.1,Shima,USGS
38,2025-09-13,"[32.867, 141.7432]",10.000,4.9,Katsuura,USGS

In [26]:
result = connection.execute(text("SELECT * FROM Earthquakes")).fetchall()
for row in result:
    print(row)

(1, '2025-09-15', '[38.322, 142.369]', 35.0, 5.1, 'Honshu', 'Dataset')
(2, '2025-09-16', '[36.2048, 138.2529]', 0.0, 4.866666666666666, 'Nagano', 'Dataset')
(3, '2025-09-18', '[33.5904, 130.4017]', 12.0, 4.866666666666666, 'Fukuoka', 'Dataset')
(4, '2025-09-19', '[35.6895, 139.6917]', 0.0, 5.5, 'Tokyo', 'Dataset')
(5, '2025-09-20', '[37.765, 140.467]', 0.0, 4.6, 'Fukushima', 'Dataset')
(6, '2025-09-21', '[34.6937, 135.5023]', 45.1, 5.2, 'Osaka', 'Dataset')
(7, '2025-09-23', '[39.702, 141.152]', 50.5, 4.866666666666666, 'Sendai', 'Dataset')
(8, '2025-09-24', '[35.4437, 139.638]', 30.0, 5.0, 'Yokohama', 'Dataset')
(9, '2025-09-26', '[26.2124, 127.6809]', 15.0, 4.7, 'Ryukyu Islands', 'Dataset')
(10, '2025-09-28', '[40.822, 140.747]', 60.1, 5.0, 'Aomori', 'Dataset')
(11, '2025-09-30', '[34.3852, 132.4553]', 80.0, 4.866666666666666, 'Hiroshima', 'Dataset')
(12, '2025-10-01', '[35.0116, 135.7681]', 10.0, 4.4, 'Kyoto', 'Dataset')
(13, '2025-10-02', '[32.7503, 129.8779]', 25.3, 4.9, 'Nagasaki', 'Dataset')
(14, '2025-10-03', '[34.6937, 135.5023]', 0.0, 5.1, 'Osaka', 'Dataset')
(15, '2025-10-05', '[37.25, 138.75]', 0.0, 4.6, 'Niigata', 'Dataset')
(16, '2025-10-06', '[36.555, 136.661]', 20.0, 4.2, 'Kanazawa', 'Dataset')
(17, '2025-10-09', '[35.6895, 139.6917]', 0.0, 5.8, 'Tokyo', 'Dataset')
(18, '2025-10-12', '[43.0618, 141.3545]', 10.2, 4.8, 'Hokkaido', 'Dataset')
(19, '2025-10-13', '[34.228, 134.046]', 18.0, 4.866666666666666, 'Takamatsu', 'Dataset')
(20, '2025-10-14', '[35.4437, 139.638]', 30.0, 5.0, 'Yokohama', 'Dataset')
(21, '2025-10-15', '[33.249, 131.609]', 0.0, 4.3, 'Oita', 'Dataset')
(22, '2025-10-16', '[35.68, 139.75]', 33.0, 5.0, 'Tokyo', 'Dataset')
(23, '2025-10-18', '[26.2124, 127.6809]', 15.0, 4.7, 'Ryukyu Islands', 'Dataset')
(24, '2025-10-19', '[35.1815, 136.9066]', 35.2, 4.8, 'Nagoya', 'Dataset')
(25, '2025-10-08', '[34.9, 136.8]', 10.0, 3.3, 'Honshu', 'EMSC')
(26, '2025-10-08', '[42.1, 140.4]', 0.0, 3.0, 'Hokkaido', 'EMSC')
(27, '2025-10-08', '[35.0, 134.1]', 10.0, 3.0, 'Honshu', 'EMSC')
(28, '2025-10-08', '[36.28, 127.76]', 9.0, 3.1, 'Not Found', 'EMSC')
(29, '2025-10-07', '[29.314, 129.194]', 15.0, 5.3, 'Ryukyu Islands', 'EMSC')
(30, '2025-10-07', '[29.3, 129.1]', 10.0, 3.9, 'Ryukyu Islands', 'EMSC')
(31, '2025-10-07', '[29.4, 129.3]', 10.0, 3.0, 'Ryukyu Islands', 'EMSC')
(32, '2025-10-07', '[37.758, 144.137]', 6.0, 4.6, 'Honshu', 'EMSC')
(33, '2025-10-07', '[37.76, 144.109]', 7.0, 4.7, 'Honshu', 'EMSC')
(34, '2025-10-07', '[37.559, 141.331]', 56.0, 5.1, 'Honshu', 'EMSC')
(35, '2025-10-06', '[27.264, 140.256]', 444.0, 4.1, 'Bonin Islands', 'EMSC')
(36, '2025-10-06', '[37.792, 144.214]', 10.0, 4.7, 'Honshu', 'EMSC')
(37, '2025-10-06', '[37.719, 144.134]', 10.0, 4.9, 'Honshu', 'EMSC')
(38, '2025-10-06', '[37.752, 144.161]', 10.0, 4.8, 'Honshu', 'EMSC')
(39, '2025-10-06', '[39.8, 141.8]', 60.0, 3.8, 'Honshu', 'EMSC')
(40, '2025-10-05', '[29.4, 129.6]', 0.0, 3.2, 'Ryukyu Islands', 'EMSC')
(41, '2025-10-05', '[43.0, 144.7]', 110.0, 4.0, 'Hokkaido', 'EMSC')
(42, '2025-10-05', '[34.9, 136.8]', 20.0, 3.2, 'Honshu', 'EMSC')
(43, '2025-10-05', '[42.5, 141.9]', 130.0, 4.2, 'Hokkaido', 'EMSC')
(44, '2025-10-05', '[29.5, 129.5]', 20.0, 3.4, 'Ryukyu Islands', 'EMSC')
(45, '2025-10-05', '[33.27, 127.54]', 19.0, 2.8, 'Not Found', 'EMSC')
(46, '2025-10-04', '[37.443, 141.508]', 41.0, 6.0, 'Honshu', 'EMSC')
(47, '2025-10-04', '[39.777, 142.201]', 45.0, 4.5, 'Honshu', 'EMSC')
(48, '2025-10-04', '[39.7, 142.1]', 40.0, 3.2, 'Honshu', 'EMSC')
(49, '2025-10-03', '[38.3, 141.7]', 60.0, 3.2, 'Honshu', 'EMSC')
(50, '2025-10-03', '[37.3, 141.3]', 60.0, 4.4, 'Honshu', 'EMSC')
(51, '2025-10-03', '[35.536, 139.948]', 110.0, 4.5, 'Honshu', 'EMSC')
(52, '2025-10-03', '[34.92, 140.15]', 65.0, 4.3, 'Honshu', 'EMSC')
(53, '2025-10-02', '[29.6, 129.7]', 10.0, 3.0, 'Ryukyu Islands', 'EMSC')
(54, '2025-10-02', '[33.7, 132.5]', 40.0, 3.5, 'Shikoku', 'EMSC')
(55, '2025-10-02', '[39.9, 140.9]', 10.0, 3.0, 'Honshu', 'EMSC')
(56, '2025-10-01', '[28.488, 139.648]', 422.0, 4.2, 'Bonin Islands', 'EMSC')
(57, '2025-10-01', '[33.475, 142.396]', 10.0, 4.5, 'Honshu', 'EMSC')
(58, '2025-10-01', '[37.995, 143.929]', 10.0, 4.5, 'Honshu', 'EMSC')
(59, '2025-10-01', '[38.719, 141.967]', 60.0, 4.8, 'Honshu', 'EMSC')
(60, '2025-09-29', '[37.979, 143.887]', 10.0, 4.6, 'Honshu', 'EMSC')
(61, '2025-09-29', '[37.8, 141.7]', 60.0, 4.0, 'Honshu', 'EMSC')
(62, '2025-09-29', '[37.8, 137.4]', 10.0, 3.6, 'Honshu', 'EMSC')
(63, '2025-09-29', '[31.39, 138.55]', 300.0, 4.0, 'Izu Islands', 'EMSC')
(64, '2025-09-28', '[24.409, 123.321]', 55.0, 4.5, 'Ryukyu Islands', 'EMSC')
(65, '2025-09-28', '[29.6, 129.8]', 10.0, 3.4, 'Ryukyu Islands', 'EMSC')
(66, '2025-09-28', '[36.6, 140.9]', 50.0, 3.2, 'Honshu', 'EMSC')
(67, '2025-09-28', '[41.43, 142.15]', 50.0, 3.7, 'Hokkaido', 'EMSC')
(68, '2025-09-28', '[35.5, 137.4]', 60.0, 3.0, 'Honshu', 'EMSC')
(69, '2025-09-28', '[37.679, 144.251]', 9.0, 4.5, 'Honshu', 'EMSC')
(70, '2025-09-27', '[33.8, 135.0]', 10.0, 3.0, 'Honshu', 'EMSC')
(71, '2025-09-27', '[37.78, 144.215]', 12.0, 4.8, 'Honshu', 'EMSC')
(72, '2025-09-26', '[37.783, 144.185]', 10.0, 4.6, 'Honshu', 'EMSC')
(73, '2025-09-26', '[32.8, 130.6]', 10.0, 3.0, 'Kyushu', 'EMSC')
(74, '2025-09-26', '[35.0, 140.0]', 60.0, 3.9, 'Honshu', 'EMSC')
(75, '2025-09-25', '[35.4, 127.91]', 13.0, 2.1, 'Not Found', 'EMSC')
(76, '2025-09-25', '[30.959, 140.045]', 10.0, 4.6, 'Izu Islands', 'EMSC')
(77, '2025-09-25', '[35.39, 125.54]', 11.0, 2.6, 'Not Found', 'EMSC')
(78, '2025-09-25', '[37.839, 144.135]', 10.0, 4.6, 'Honshu', 'EMSC')
(79, '2025-09-24', '[38.941, 142.093]', 55.0, 4.6, 'Honshu', 'EMSC')
(80, '2025-09-24', '[35.7, 139.8]', 70.0, 3.5, 'Honshu', 'EMSC')
(81, '2025-09-23', '[28.807, 128.678]', 140.0, 4.6, 'Ryukyu Islands', 'EMSC')
(82, '2025-09-23', '[36.5, 140.7]', 60.0, 3.8, 'Honshu', 'EMSC')
(83, '2025-09-22', '[35.55, 129.95]', 25.0, 2.2, 'Not Found', 'EMSC')
(84, '2025-09-22', '[36.363, 142.499]', 10.0, 4.6, 'Honshu', 'EMSC')
(85, '2025-09-21', '[36.6, 141.0]', 50.0, 3.8, 'Honshu', 'EMSC')
(86, '2025-09-21', '[36.3, 138.0]', 10.0, 3.0, 'Honshu', 'EMSC')
(87, '2025-09-20', '[40.1, 141.9]', 20.0, 4.0, 'Honshu', 'EMSC')
(88, '2025-09-20', '[29.6, 129.8]', 10.0, 3.8, 'Ryukyu Islands', 'EMSC')
(89, '2025-09-20', '[29.6, 129.7]', 0.0, 4.2, 'Ryukyu Islands', 'EMSC')
(90, '2025-09-20', '[29.6, 129.7]', 0.0, 3.3, 'Ryukyu Islands', 'EMSC')
(91, '2025-09-20', '[29.6, 129.8]', 10.0, 3.4, 'Ryukyu Islands', 'EMSC')
(92, '2025-09-20', '[24.126, 126.301]', 10.0, 4.9, 'Ryukyu Islands', 'EMSC')
(93, '2025-09-20', '[29.6, 129.7]', 0.0, 3.0, 'Ryukyu Islands', 'EMSC')
(94, '2025-09-19', '[36.2, 141.0]', 40.0, 3.3, 'Honshu', 'EMSC')
(95, '2025-09-19', '[36.2, 141.0]', 40.0, 3.2, 'Honshu', 'EMSC')
(96, '2025-09-19', '[36.187, 140.863]', 47.0, 4.6, 'Honshu', 'EMSC')
(97, '2025-09-19', '[31.3, 129.9]', 10.0, 3.2, 'Kyushu', 'EMSC')
(98, '2025-09-19', '[29.6, 129.7]', 0.0, 3.0, 'Ryukyu Islands', 'EMSC')
(99, '2025-09-19', '[33.9, 132.3]', 40.0, 3.1, 'Shikoku', 'EMSC')
(100, '2025-09-19', '[29.6, 129.8]', 10.0, 3.0, 'Ryukyu Islands', 'EMSC')
(101, '2025-09-19', '[29.8, 130.0]', 10.0, 3.4, 'Ryukyu Islands', 'EMSC')
(102, '2025-09-18', '[29.6, 129.8]', 0.0, 3.5, 'Ryukyu Islands', 'EMSC')
(103, '2025-09-18', '[29.6, 129.9]', 0.0, 3.6, 'Ryukyu Islands', 'EMSC')
(104, '2025-09-18', '[35.486, 141.011]', 25.0, 4.5, 'Honshu', 'EMSC')
(105, '2025-09-18', '[29.6, 129.8]', 0.0, 3.1, 'Ryukyu Islands', 'EMSC')
(106, '2025-09-18', '[35.5, 139.6]', 70.0, 3.3, 'Honshu', 'EMSC')
(107, '2025-09-18', '[32.0, 131.9]', 30.0, 4.1, 'Kyushu', 'EMSC')
(108, '2025-09-18', '[39.8, 141.8]', 60.0, 3.3, 'Honshu', 'EMSC')
(109, '2025-09-17', '[29.6, 129.7]', 10.0, 3.5, 'Ryukyu Islands', 'EMSC')
(110, '2025-09-17', '[32.0, 131.9]', 30.0, 3.5, 'Kyushu', 'EMSC')
(111, '2025-09-17', '[32.0, 131.9]', 30.0, 3.0, 'Kyushu', 'EMSC')
(112, '2025-09-17', '[29.6, 129.8]', 0.0, 3.0, 'Ryukyu Islands', 'EMSC')
(113, '2025-09-17', '[29.6, 129.8]', 0.0, 3.3, 'Ryukyu Islands', 'EMSC')
(114, '2025-09-17', '[29.6, 129.7]', 10.0, 3.0, 'Ryukyu Islands', 'EMSC')
(115, '2025-09-17', '[29.6, 129.7]', 10.0, 3.4, 'Ryukyu Islands', 'EMSC')
(116, '2025-09-17', '[29.609, 129.619]', 10.0, 4.9, 'Ryukyu Islands', 'EMSC')
(117, '2025-09-17', '[29.7, 129.6]', 0.0, 3.3, 'Ryukyu Islands', 'EMSC')
(118, '2025-09-17', '[29.523, 129.639]', 28.0, 4.9, 'Ryukyu Islands', 'EMSC')
(119, '2025-09-17', '[34.6, 139.4]', 10.0, 3.2, 'Honshu', 'EMSC')
(120, '2025-09-16', '[34.6, 139.4]', 10.0, 4.0, 'Honshu', 'EMSC')
(121, '2025-09-16', '[31.5, 131.9]', 20.0, 3.6, 'Kyushu', 'EMSC')
(122, '2025-09-16', '[39.444, 143.445]', 3.0, 4.4, 'Honshu', 'EMSC')
(123, '2025-09-16', '[35.9, 140.8]', 40.0, 3.9, 'Honshu', 'EMSC')
(124, '2025-09-15', '[37.619, 138.969]', 180.0, 4.4, 'Honshu', 'EMSC')
(125, '2025-09-15', '[36.9, 141.4]', 50.0, 4.0, 'Honshu', 'EMSC')
(126, '2025-09-15', '[36.41, 128.64]', 14.0, 2.0, 'Not Found', 'EMSC')
(127, '2025-09-15', '[36.41, 128.64]', 15.0, 2.3, 'Not Found', 'EMSC')
(128, '2025-09-15', '[38.437, 141.987]', 65.0, 4.4, 'Honshu', 'EMSC')
(129, '2025-09-15', '[29.4, 129.5]', 10.0, 3.0, 'Ryukyu Islands', 'EMSC')
(130, '2025-09-14', '[36.2, 140.1]', 70.0, 3.0, 'Honshu', 'EMSC')
(131, '2025-09-13', '[42.115, 137.511]', 302.0, 4.3, 'Sea Of Japan', 'EMSC')
(132, '2025-09-13', '[33.8, 134.9]', 20.0, 3.1, 'Shikoku', 'EMSC')
(133, '2025-09-13', '[29.8, 130.06]', 10.0, 4.4, 'Ryukyu Islands', 'EMSC')
(134, '2025-09-13', '[28.4, 129.1]', 30.0, 3.6, 'Ryukyu Islands', 'EMSC')
(135, '2025-09-13', '[32.909, 141.711]', 7.0, 4.9, 'Izu Islands', 'EMSC')
(136, '2025-09-12', '[34.55, 128.29]', 12.0, 2.1, 'Not Found', 'EMSC')
(137, '2025-09-12', '[38.5, 142.2]', 40.0, 3.7, 'Honshu', 'EMSC')
(138, '2025-09-12', '[29.1, 129.3]', 30.0, 3.0, 'Ryukyu Islands', 'EMSC')
(139, '2025-09-11', '[36.2, 140.1]', 50.0, 3.1, 'Honshu', 'EMSC')
(140, '2025-09-11', '[29.3, 129.4]', 20.0, 3.3, 'Ryukyu Islands', 'EMSC')
(141, '2025-09-11', '[24.8, 125.3]', 50.0, 3.7, 'Ryukyu Islands', 'EMSC')
(142, '2025-09-11', '[36.3, 140.0]', 70.0, 3.3, 'Honshu', 'EMSC')
(143, '2025-09-10', '[37.66, 141.85]', 90.0, 4.2, 'Honshu', 'EMSC')
(144, '2025-09-10', '[25.901, 128.482]', 10.0, 4.3, 'Ryukyu Islands', 'EMSC')
(145, '2025-09-10', '[29.9, 130.0]', 10.0, 3.3, 'Ryukyu Islands', 'EMSC')
(146, '2025-09-10', '[36.1, 139.9]', 40.0, 3.7, 'Honshu', 'EMSC')
(147, '2025-09-10', '[39.232, 144.806]', 10.0, 4.6, 'Honshu', 'EMSC')
(148, '2025-09-09', '[29.432, 130.615]', 26.0, 4.7, 'Ryukyu Islands', 'EMSC')
(149, '2025-09-09', '[33.7, 139.5]', 20.0, 3.9, 'Izu Islands', 'EMSC')
(150, '2025-09-09', '[33.707, 139.457]', 10.0, 4.3, 'Izu Islands', 'EMSC')
(151, '2025-09-09', '[33.66, 126.96]', 17.0, 2.1, 'Not Found', 'EMSC')
(152, '2025-09-09', '[38.3, 141.9]', 70.0, 3.8, 'Honshu', 'EMSC')
(153, '2025-10-07', '[29.34, 129.1]', 10.0, 5.3, 'Ryukyu Islands', 'GEOFON')
(154, '2025-10-07', '[37.77, 144.19]', 10.0, 4.8, 'Honshu', 'GEOFON')
(155, '2025-10-07', '[37.58, 141.27]', 53.0, 5.1, 'Honshu', 'GEOFON')
(156, '2025-10-06', '[27.19, 140.39]', 461.0, 4.5, 'Bonin Islands', 'GEOFON')
(157, '2025-10-06', '[37.69, 144.21]', 10.0, 4.7, 'Honshu', 'GEOFON')
(158, '2025-10-06', '[37.7, 144.16]', 10.0, 5.0, 'Honshu', 'GEOFON')
(159, '2025-10-06', '[37.7, 144.19]', 10.0, 4.9, 'Honshu', 'GEOFON')
(160, '2025-10-04', '[39.71, 142.16]', 41.0, 4.8, 'Honshu', 'GEOFON')
(161, '2025-10-03', '[35.51, 140.04]', 103.0, 4.7, 'Honshu', 'GEOFON')
(162, '2025-10-01', '[37.81, 144.12]', 10.0, 4.6, 'Honshu', 'GEOFON')
(163, '2025-10-01', '[38.76, 141.98]', 60.0, 4.8, 'Honshu', 'GEOFON')
(164, '2025-09-28', '[24.34, 123.31]', 58.0, 4.8, 'Ryukyu Islands', 'GEOFON')
(165, '2025-09-28', '[37.7, 144.17]', 10.0, 4.7, 'Honshu', 'GEOFON')
(166, '2025-09-27', '[37.79, 144.14]', 10.0, 4.8, 'Honshu', 'GEOFON')
(167, '2025-09-24', '[38.92, 142.14]', 54.0, 4.2, 'Honshu', 'GEOFON')
(168, '2025-09-23', '[28.89, 128.73]', 133.0, 4.8, 'Ryukyu Islands', 'GEOFON')
(169, '2025-09-20', '[24.11, 126.12]', 10.0, 4.9, 'Ryukyu Islands', 'GEOFON')
(170, '2025-09-17', '[29.42, 129.93]', 52.0, 4.6, 'Ryukyu Islands', 'GEOFON')
(171, '2025-09-17', '[29.6, 129.71]', 33.0, 5.0, 'Ryukyu Islands', 'GEOFON')
(172, '2025-09-15', '[38.41, 142.11]', 50.0, 4.8, 'Honshu', 'GEOFON')
(173, '2025-09-13', '[42.11, 137.46]', 285.0, 4.3, 'Sea Of Japan', 'GEOFON')
(174, '2025-09-13', '[32.84, 141.65]', 10.0, 4.9, 'Honshu', 'GEOFON')
(175, '2025-10-10', '[41.7258, 142.679]', 58.696, 4.3, 'Urakawa', 'USGS')
(176, '2025-10-07', '[29.2431, 129.3903]', 10.0, 5.3, 'Tatsugō', 'USGS')
(177, '2025-10-07', '[37.6701, 144.1112]', 10.0, 4.6, 'Onagawa Chō', 'USGS')
(178, '2025-10-07', '[37.8333, 144.1149]', 10.0, 4.7, 'Onagawa Chō', 'USGS')
(179, '2025-10-07', '[37.5675, 141.3033]', 49.324, 5.1, 'Namie', 'USGS')
(180, '2025-10-06', '[27.2131, 140.2644]', 442.455, 4.1, 'Bonin Islands', 'USGS')
(181, '2025-10-06', '[37.8565, 144.0981]', 10.0, 4.7, 'Onagawa Chō', 'USGS')
(182, '2025-10-06', '[37.7601, 144.2022]', 10.0, 4.9, 'Onagawa Chō', 'USGS')
(183, '2025-10-06', '[37.7685, 144.044]', 29.711, 4.8, 'Onagawa Chō', 'USGS')
(184, '2025-10-04', '[37.4317, 141.6389]', 43.855, 5.9, 'Tomioka', 'USGS')
(185, '2025-10-04', '[39.7457, 142.1935]', 53.247, 4.5, 'Miyako', 'USGS')
(186, '2025-10-03', '[35.5187, 139.9476]', 103.237, 4.5, 'Ichihara', 'USGS')
(187, '2025-10-01', '[28.4417, 139.5746]', 421.007, 4.2, 'Bonin Islands', 'USGS')
(188, '2025-10-01', '[33.4746, 142.3962]', 10.0, 4.5, 'Katsuura', 'USGS')
(189, '2025-10-01', '[37.9951, 143.9288]', 10.0, 4.5, 'Onagawa Chō', 'USGS')
(190, '2025-10-01', '[38.7068, 141.8902]', 78.59, 4.8, 'Ōfunato', 'USGS')
(191, '2025-09-29', '[37.9792, 143.8828]', 10.0, 4.6, 'Onagawa Chō', 'USGS')
(192, '2025-09-28', '[24.3666, 123.2868]', 57.156, 4.5, 'Yonakuni', 'USGS')
(193, '2025-09-28', '[37.673, 144.2246]', 10.0, 4.5, 'Onagawa Chō', 'USGS')
(194, '2025-09-27', '[37.7661, 144.1882]', 10.0, 4.8, 'Onagawa Chō', 'USGS')
(195, '2025-09-26', '[37.9048, 143.9906]', 10.0, 4.6, 'Onagawa Chō', 'USGS')
(196, '2025-09-25', '[30.9586, 140.045]', 10.0, 4.6, 'Izu Islands', 'USGS')
(197, '2025-09-25', '[37.8154, 144.1719]', 10.0, 4.6, 'Onagawa Chō', 'USGS')
(198, '2025-09-24', '[38.9527, 142.1281]', 55.164, 4.6, 'Ōfunato', 'USGS')
(199, '2025-09-23', '[28.7376, 128.6955]', 155.312, 4.6, 'Uken', 'USGS')
(200, '2025-09-22', '[36.363, 142.499]', 10.0, 4.6, 'Iwaki', 'USGS')
(201, '2025-09-20', '[24.0787, 126.2332]', 10.0, 4.9, 'Miyakojima', 'USGS')
(202, '2025-09-19', '[36.1871, 140.8626]', 46.585, 4.6, 'Ōarai', 'USGS')
(203, '2025-09-18', '[35.3898, 141.1174]', 25.058, 4.5, 'Hasaki', 'USGS')
(204, '2025-09-17', '[29.6356, 129.5901]', 10.0, 4.9, 'Kurio', 'USGS')
(205, '2025-09-17', '[29.5809, 129.6856]', 10.782, 4.9, 'Kurio', 'USGS')
(206, '2025-09-16', '[34.4855, 139.4665]', 10.0, 4.4, 'Shimoda', 'USGS')
(207, '2025-09-16', '[27.2748, 140.3101]', 320.523, 4.0, 'Bonin Islands', 'USGS')
(208, '2025-09-16', '[39.5181, 143.3224]', 10.0, 4.4, 'Yamada', 'USGS')
(209, '2025-09-15', '[37.6698, 138.8388]', 185.842, 4.3, 'Yoshida-kasugachō', 'USGS')
(210, '2025-09-15', '[38.5338, 141.9747]', 62.107, 4.4, 'Onagawa Chō', 'USGS')
(211, '2025-09-13', '[42.0242, 137.5574]', 286.491, 4.1, 'Kaminokuni', 'USGS')
(212, '2025-09-13', '[34.1815, 137.2194]', 333.697, 4.1, 'Shima', 'USGS')
(213, '2025-09-13', '[32.867, 141.7432]', 10.0, 4.9, 'Katsuura', 'USGS')